* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  /* overflow-x: hidden; */
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

.banner {
  /* position: relative; */
  min-width: 100%;
  background: url("../img/aboutUs_bg.jpeg") no-repeat bottom center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  padding-bottom: 140px;
  align-items: center;
}

.banner > * {
  max-width: 1000px;
  margin: auto;
}

header {
  width: 100%;
  height: 130px;
  max-width: 1100px;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scroll {
  padding-bottom: -15px;
}

.company__name {
  color: rgb(242, 242, 242);
  font-size: 22px;
  cursor: pointer;
}

.travel_title {
  color: rgb(96, 236, 120);
}

.links {
  text-decoration: none;
  color: white;
  padding: 10px 25px;
  border-radius: 25px;
  transition: all 0.2s;
  font-weight: 600;
}

/* Current page link indicator */
.links:hover,
.current {
  background-color: white;
  color: #00a6ff;
}

/* -------------------------------------------- */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  gap: 150px;
}

.about--h1 {
  color: white;
  font-size: 28px;
  width: 100%;
  display: flex;
  justify-content: end;
}

.about__text--section {
  display: flex;
  max-width: 1000px;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}

.about--text {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex-wrap: wrap;
}

.about--exp {
  display: flex;
  gap: 50px;
}

.first--icon,
.second--icon {
  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: 500;
}

.boat--img {
  position: relative;
  min-width: 450px;
  height: 250px;
  transition: 0.2s all;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s all;
  cursor: pointer;
}

.boat--img > img {
  width: 450px;
  height: 250px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 10px, rgba(0, 0, 0, 0.22) 0px 5px 6px;
  transition: 0.2s all;
}

.boat--img > p {
  color: transparent;
  font-weight: 600;
  font-size: 28px;
  position: absolute;
  z-index: 10;
  transition: 0.2s all;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 5px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: 0.2s all;
}

.boat--img:hover {
  transform: scale(1.075);
}

.boat--img:hover p {
  color: white;
}

.boat--img > p:hover {
  color: #00a6ff;
}

.boat--img:hover .overlay {
  opacity: 1;
}

.what-we-offer-section {
  display: flex;
  /* max-width: 1000px; */
}

.passport {
  height: 400px;
  min-width: 320px;
  position: relative;
  outline: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.passport > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.passport > p {
  position: absolute;
  color: transparent;
  font-weight: 600;
  font-size: 26px;
  transition: 0.2s all;
  z-index: 10;
}

.passport:hover p {
  color: white;
}

.passport > p:hover {
  color: #00a6ff;
}

.passport:hover .overlay {
  opacity: 1;
}

.what-we-offer-section > div:not(.passport) {
  height: 400px;
  /* width: 100vw; */
  padding: 20px 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  outline: 2px solid white;

  background: rgb(24, 143, 147);
  color: white;
  transition: 0.2s all;
  cursor: pointer;
}

.what-we-offer-section > div:hover {
  background: rgb(19, 84, 86);
}

/* Location Section */
.location {
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: center;
}

.location > * {
  max-width: 1000px;
}

.location > h1 {
  font-size: 36px;
}

.location > iframe {
  width: 1000px;
}

@media (max-width: 1100px) {
  header {
    width: 800px;
  }

  .banner > *,
  main > *:not(.what-we-offer-section) {
    width: 800px;
    margin: auto;
  }

  .boat--img {
    min-width: 400px;
    height: 200px;
  }
  .boat--img > img {
    width: 400px;
    height: 200px;
  }

  .location > iframe {
    width: calc(100% - 100px);
    margin: auto;
  }
}

@media (max-width: 1000px) {
  body {
    overflow-x: hidden;
  }

  header {
    position: relative;
  }
}
@media (max-width: 850px) {
  html {
    overflow-x: hidden;
  }

  .banner > * {
    width: calc(100% - 100px);
  }

  .scroll {
    padding-top: 15px;
  }

  .about--h1 > h1 {
    font-size: 44px;
    text-align: center;
    margin: auto;
  }

  .about__text--section {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .about__text--section > * {
    width: 70%;
    justify-content: center;
    align-items: center;
  }

  .what-we-offer-section {
    flex-wrap: wrap;
    overflow-x: hidden;
  }

  .what-we-offer-section > div {
    width: 100vw;
    margin: auto;
    height: 300px;
  }

  .what-we-offer-section > div:not(.passport) {
    padding: 0 20px;
    height: 300px;
  }

  .what-we-offer-section > div:not(.passport) > p {
    width: 50%;
  }

  .passport > img {
    object-fit: cover;
    min-width: 100%;
  }

  .location > iframe {
    max-width: 500px;
    margin: auto;
  }
}

@media (max-width: 560px) {
  .banner > * {
    width: calc(100% - 80px);
  }

  .scroll {
    padding-top: 10px;
  }

  .about--text > h1 {
    width: 70%;
    font-size: 24px;
  }

  .about--text > p {
    width: 70%;
    font-size: 14px;
  }
}

@media (max-width: 450px) {
  .company__name {
    font-size: 18px;
  }

  .about--text > h1 {
    width: 50%;
    font-size: 22px;
  }

  .about--exp {
    flex-direction: column;
  }

  .about--text > p {
    width: 50%;
    font-size: 13px;
  }

  .boat--img {
    width: 300px;
    height: 150px;
  }

  .boat--img > img {
    width: 300px;
    height: 150px;
  }

  .what-we-offer-section > div > h4 {
    width: 50%;
  }

  .what-we-offer-section > div > p {
    max-width: 200px;
    font-size: 14px;
  }

  .location > iframe {
    max-width: 300px;
    height: 250px;
  }
}

@media (max-width: 410px) {
  .what-we-offer-section > div {
    width: 100%;
    margin: auto;
    height: 300px;
  }

  .passport > img {
    object-position: center;
    object-fit: contain;
  }
}
