* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../img/bahamas.jpeg) no-repeat top center/cover;
  padding: 0 30px;
  gap: 30px;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

body > * {
  max-width: 1000px;
  margin: auto;
}

header {
  width: 100%;
  height: 130px;
  max-width: 1000px;
  padding: 20px 0;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pick_holidays {
  /* width: 100%; */
  height: 50px;
  margin: auto;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  /* border: 1px solid red;  */
}

.pick_holidays > button {
  height: 40px;
  width: 120px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  background: #f3f3f3;
  color: #006eff;
  border: 1px solid #006eff;
  border-radius: 5px;
  transition: 0.2s all;
}

.pick_holidays > button:hover,
.pick_holidays > .picked {
  color: #f3f3f3;
  background: #006eff;
}

main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 40px;
}

.this_week {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
  /* max-width: 1100px; */
  padding: 10px 0px;
}

.this_week h1 {
  color: #f3f3f3;
}

.this_week button {
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  background: #006eff;
  transition: 0.3s all;
}

.this_week button:hover {
  /* transform: scale(1.02); */
  background: #f3f3f3;
  color: #006eff;
}

.holiday__container {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  max-width: 1100px;
  /* width: 350px; */
  padding: 30px;
  overflow-x: scroll;
  overflow-y: hidden;
  background: white;
}

/* Custom scrollbar styling */
::-webkit-scrollbar {
  height: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00aaff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #006eff;
}

.holiday {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}

.image-container {
  width: 300px;
  height: 175px;
  position: relative;
  overflow: hidden;
  border-radius: 15px 15px 0 0;
  /* border: 1px solid red; */
}

.image-container > img {
  width: 100%;
  height: 175px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transition: transform 0.3s ease-in-out;
}

.description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
  font-size: 13px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: start;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  cursor: default;
}

.pick {
  padding: 10px;
  background: blue;
  border-radius: 7px;
  color: white;
  font-weight: 700;
  outline: 1px solid blue;
  transition: all 0.2s;
}

.pick:hover {
  background: #f3f3f3;
  color: blue;
}

.image-container:hover .description {
  opacity: 1;
}

.description::-webkit-scrollbar {
  width: 5px;
}
.holiday > h2 {
  padding-left: 10px;
  font-size: 20px;
  /* text-align: center; */
}
.location {
  display: flex;
  gap: 14px;
  align-items: center;
}
.price {
  display: flex;
  gap: 10px;
  align-items: center;
}
.place__details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
  border: 1px solid rgb(194, 190, 190);
  border-radius: 0 0 15px 15px;
  padding: 25px 15px;
  /* border: 1px solid red; */
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  background-color: #f3f3f3;
  padding: 80px 100px;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  border-radius: 10px;
  transition: all 0.5s;
  /* margin-top: 5px; */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.modal__header {
  margin-bottom: 15px;
}

.modal__form {
  width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal__form input,
textarea {
  width: 300px;
  border-radius: 10px;
  border: 1px solid gray;
  padding: 10px;
  /* margin: 5px 0; */
}

.btn,
.tour_login {
  text-decoration: none;
  background: blue;
  border-radius: 7px;
  padding: 10px 25px;
  color: white;
  font-weight: 700;
  outline: 1px solid blue;
  transition: all 0.2s;
}

.btn:hover {
  background: #f3f3f3;
  color: blue;
}

.btn--close-modal {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 50px;
  cursor: pointer;
  border: none;
  background: none;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.your_holiday {
  height: 350px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.action_btns{
  display: flex;
  gap: 10px;
}

.edit,
.delete {
  text-decoration: none;
  outline: none;
  padding: 7px 10px;
  border-radius: 5px;
  color: #f2f2f2;
  transition: 0.2s all;
}

.edit {
  background: #091cc5;
}
.edit:hover {
  background: #000536;
}

.delete {
  background: rgb(255, 97, 97);
}
.delete:hover {
  background: red;
}


/* Responsive Design */
@media (max-width: 1100px) {
  header {
    width: 800px;
  }

  body > * {
    width: 800px;
    margin: auto;
  }
}

@media (max-width: 1030px) {
  header {
    position: relative;
  }

  .holiday__container {
    height: 800px;
    overflow-x: hidden;
    overflow-y: scroll;
    flex-wrap: wrap;
    justify-content: center;
  }
  .holiday, .image-container {
    width: 250px;
  }
}

@media (max-width: 850px) {
  body > * {
    width: calc(100% - 70px);
  }

  .this_week h1 {
    font-size: 24px;
  }

  .holiday__container {
    height: 600px;
    /* gap: 15px; */
  }

  .holiday,
  .image-container {
    width: 280px;
  }
}

@media (max-width: 560px) {
  body > * {
    width: calc(100% - 20px);
  }

  .holiday, .image-container {
    width: 250px;
  }

  .modal {
    max-width: 350px;
    padding: 20px 40px;
  }

  .modal__header {
    font-size: 22px;
  }

  .this_week {
    gap: 20px;
  }

  .pick_holidays > button {
    font-size: 12px;
  }
}
