nav {
  position: relative;
  max-width: 650px;
  display: flex;
  align-items: center;
  gap: 15px;
  z-index: 10;
}

.menu {
  display: none;
}

/* Stick the Navbar to the top of the page after scrolling */
.scroll {
  min-width: 100%;
  padding: 0 150px;
  height: 80px;
  background: rgb(54, 54, 54, 0.95);
  box-shadow: 2px 2px 2px #00a6ff;
  position: fixed;
  z-index: 10;
  transition: 0.3s all;
}

.scroll .travel_title {
  color: #00a6ff;
}

.scroll .links {
  background-color: #00a6ff;
}

.scroll .current {
  background: white;
  outline: 3px solid #00a6ff;
}

.company__name {
  color: rgb(242, 242, 242);
  font-size: 22px;
  cursor: pointer;
}

.travel_title {
  color: rgb(96, 236, 120);
}

.links {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  transition: all 0.2s;
  text-align: center;
  font-weight: 600;
}

/* Current page link indicator */
.links:hover,
.current {
  background-color: white;
  color: #00a6ff;
}

/* Responsive nav design */
.active {
  visibility: visible;
  opacity: 1;
  z-index: 10;
}

/* user log in/log out */
.user__login {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user {
  width: 40px;
  height: 40px;
  overflow: hidden;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-weight: 600;
  outline: 2px solid white;
  background-color: white;
  color: #00a6ff;
  transition: 0.2s all;
}

.user > img {
  width: 40px;
  height: 40px;
}

.user:hover {
  color: white;
  background: #00a6ff;
}

.user_info {
  position: absolute;
  top: 60px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s all;
}

.clicked {
  opacity: 1;
  visibility: visible;
}

.username {
  font-weight: 600;
  color: white;
}

.profileBtn,
.logoutBtn,
.dashboardBtn {
  width: 100px;
  height: 40px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 1;
  font-weight: 600;
  font-size: 14px;
  color: white;
  transition: 0.2s all;
}

.profileBtn {
  background: rgb(38, 211, 67);
}

.profileBtn:hover {
  background: rgb(0, 220, 0);
}

.dashboardBtn {
  background: #00a6ff;
}

.dashboardBtn:hover {
  background: blue;
}

.logoutBtn {
  background: rgb(255, 97, 97);
}

.logoutBtn:hover {
  background: red;
}

/* Modal */
.modal_logout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  background-color: #f3f3f3;
  padding: 80px 100px;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  border-radius: 10px;
  transition: all 0.5s;
  /* margin-top: 5px; */
}

.overlay_logout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.modal__form_logout {
  width: 300px;
  text-align: center;
  display: flex;
  /* flex-direction: column; */
  gap: 10px;
}

.btn_no {
  width: 100px;
  text-decoration: none;
  background: blue;
  border-radius: 7px;
  padding: 10px 25px;
  color: white;
  font-weight: 700;
  outline: 1px solid blue;
  transition: all 0.2s;
}

.btn_no:hover {
  background: #f3f3f3;
  color: blue;
}

.btn--close-modal_logout {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 50px;
  cursor: pointer;
  border: none;
  background: none;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

@media (max-width: 1100px) {
  nav {
    max-width: 550px;
    gap: 10px;
  }

  .links {
    font-size: 13px;
  }
}

@media (max-width: 1000px) {
  nav {
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    right: 0;
    top: 100px;
    display: flex;
    flex-direction: column;
    background: rgba(43, 42, 42, 0.8);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s all;
  }

  .menu {
    display: block;
    width: 30px;
    height: 30px;
    background: transparent;
    color: white;
    font-size: 26px;
  }

  .scroll {
    padding: 0 65px;
  }

  .scroll .active {
    right: 35px;
  }

  .user_info {
    top: 300px;
  }
}

@media (max-width: 560px) {
  .scroll {
    padding: 0 40px;
  }

  .modal_logout {
    max-width: 350px;
    padding: 20px 40px;
  }

  .modal__header_logout {
    font-size: 22px;
  }
}
/* fundi navbarit */
