nav {
  max-width: 600px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.menu {
  display: none;
}

/* Stick the Navbar to the top of the page after scrolling */
.scroll {
  min-width: 100%;
  padding: 0 150px;
  height: 80px;
  background: rgb(54, 54, 54, 0.95);
  /* outline: 2px solid #00a6ff; */
  box-shadow: 2px 2px 2px #00a6ff;
  position: fixed;
  z-index: 10;
  transition: 0.3s all;
}

.scroll .travel_title {
  color: #00a6ff;
}

.scroll .links {
  background-color: #00a6ff;
}

.scroll .current {
  background: white;
  outline: 3px solid #00a6ff;
}

.company__name {
  color: rgb(242, 242, 242);
  font-size: 22px;
  cursor: pointer;
}

.travel_title {
  color: rgb(96, 236, 120);
}

.links {
  text-decoration: none;
  color: white;
  padding: 10px 25px;
  border-radius: 25px;
  transition: all 0.2s;
  font-weight: 600;
}

/* Current page link indicator */
.links:hover,
.current {
  background-color: white;
  color: #00a6ff;
}

@media (max-width: 1100px) {
  nav {
    max-width: 550px;
  }
}

@media (max-width: 1000px) {
  nav {
    display: none;
  }

  .menu {
    display: block;
    width: 30px;
    height: 30px;
    background: transparent;
    color: white;
    font-size: 26px;
  }

  .active {
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    right: 0;
    top: 100px;
    display: flex;
    flex-direction: column;
    background: rgba(43, 42, 42, 0.8);
  }

  .scroll {
    padding: 0 65px;
  }

  .scroll .active {
    right: 35px;
  }
}

@media (max-width: 560px) {
  .scroll {
    padding: 0 40px;
  }
}
/* fundi navbarit */
