nav {
  position: relative;
  max-width: 600px;
  display: flex;
  align-items: center;
  gap: 20px;
  z-index: 10;
}

.menu {
  display: none;
}

/* Stick the Navbar to the top of the page after scrolling */
.scroll {
  min-width: 100%;
  padding: 0 150px;
  height: 80px;
  background: rgb(54, 54, 54, 0.95);
  box-shadow: 2px 2px 2px #00a6ff;
  position: fixed;
  z-index: 10;
  transition: 0.3s all;
}

.scroll .travel_title {
  color: #00a6ff;
}

.scroll .links {
  background-color: #00a6ff;
}

.scroll .current {
  background: white;
  outline: 3px solid #00a6ff;
}

.company__name {
  color: rgb(242, 242, 242);
  font-size: 22px;
  cursor: pointer;
}

.travel_title {
  color: rgb(96, 236, 120);
}

.links {
  text-decoration: none;
  color: white;
  padding: 10px 25px;
  border-radius: 25px;
  transition: all 0.2s;
  font-weight: 600;
}

/* Current page link indicator */
.links:hover,
.current {
  background-color: white;
  color: #00a6ff;
}

/* user log in/log out */
.user__login {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user__login > form {
  padding: 10px 15px;
}

.user {
  width: 40px;
  height: 40px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-weight: 600;
  background-color: white;
  color: #00a6ff;
  transition: 0.2s all;
}

.user:hover {
  color: white;
  background: #00a6ff;
}

.user_info {
  display: none;
  position: absolute;
  top: 60px;
  /* display: flex; */
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.8);
}

.clicked {
  display: flex;
}

.username {
  font-weight: 600;
  color: white;
}

.profileBtn,
.logoutBtn,
.dashboardBtn {
  text-decoration: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px 15px;
  z-index: 1;
  font-weight: 600;
  font-size: 14px;
  color: white;
  transition: 0.2s all;
}

.profileBtn {
  background: rgb(38, 211, 67);
}

.profileBtn:hover {
  background: rgb(0, 220, 0);
}

.dashboardBtn {
  background: #00a6ff;
}

.dashboardBtn:hover {
  background: blue;
}

.logoutBtn {
  background: rgb(255, 97, 97);
}

.logoutBtn:hover {
  background: red;
}

@media (max-width: 1100px) {
  nav {
    max-width: 550px;
  }
}

@media (max-width: 1000px) {
  nav {
    display: none;
  }

  .menu {
    display: block;
    width: 30px;
    height: 30px;
    background: transparent;
    color: white;
    font-size: 26px;
  }

  .active {
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    right: 0;
    top: 100px;
    display: flex;
    flex-direction: column;
    background: rgba(43, 42, 42, 0.8);
  }

  .scroll {
    padding: 0 65px;
  }

  .scroll .active {
    right: 35px;
  }

  .user_info {
    top: 300px;
  }
}

@media (max-width: 560px) {
  .scroll {
    padding: 0 40px;
  }
}
/* fundi navbarit */
