* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

.banner {
  position: relative;
  width: 100%;
  background: url("./img/contact.jpg") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  height: 100vh;
}

/* .banner > * {
  max-width: 1000px;
  margin: auto;
} */

header {
  width: 100%;
  height: 130px;
  max-width: 1000px;
  padding: 20px 0;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* fillimi navbarit */
nav {
  max-width: 600px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.menu {
  display: none;
}

.company__name {
  color: rgb(242, 242, 242);
  font-size: 22px;
  cursor: pointer;
}

.travel_title {
  color: rgb(96, 236, 120);
}

.links {
  text-decoration: none;
  color: white;
  padding: 10px 25px;
  border-radius: 25px;
  transition: all 0.2s;
  font-weight: 600;
}

/* Current page link indicator */
.links:hover,
.current {
  background-color: white;
  color: #00a6ff;
}

.lets__talk {
  color: white;
  font-size: 100px;
  margin-bottom: 90px;
}

.contact__us {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
}

.contact__us > * {
  height: 258px;
  width: 100%;
}

.contact__us > div > div > i {
  color: #01baef;
}

.meet__us {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background: white;
  padding: 30px 50px;
}

.meet__us > .info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.meet__us > .info > div {
  display: flex;
  align-items: center;
  gap: 15px;
}

.pitch__us {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: rgb(218, 216, 216);
  padding: 30px 50px 0px;
}

.pitch__us > button {
  margin-top: 15px;
  border: none;
  width: 100px;
  height: 35px;
  color: white;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 1.1px;
  border-radius: 25px;
  background: linear-gradient(to right, #20bf75, #01baef);
  transition: 0.4s all;
}

.pitch__us > button:hover {
  background: white;
  color: #00a6ff;
  outline: 2px solid #01baef;
  cursor: pointer;
}

/* Responsive Design */
@media (max-width: 1100px) {
  header {
    width: 800px;
  }

  nav {
    max-width: 550px;
  }

  /* .banner > * {
    width: 800px;
    margin: auto;
  } */

  .search__holidays > h1 {
    font-size: 80px;
  }

  .search__holidays > h2 {
    font-size: 25px;
  }
}

@media (max-width: 1000px) {
  body {
    overflow-x: hidden;
  }

  header {
    position: relative;
  }

  nav {
    display: none;
  }

  .menu {
    display: block;
    width: 30px;
    height: 30px;
    background: transparent;
    color: white;
    font-size: 26px;
  }

  .active {
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    right: 0;
    top: 100px;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.4);
  }
}
