* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner {
  width: 100%;
  height: 900px;
  background: url("./img/bg3.jpg") no-repeat bottom center/cover;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

header {
  width: 100%;
  height: 150px;
  max-width: 1100px;
  padding: 40px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* fillimi navbarit */
nav {
  max-width: 700px;
  display: flex;
  gap: 30px;
  align-items: center;
}

.company__name {
  color: rgb(242, 242, 242);
  font-size: 22px;
  cursor: pointer;
}

.travel {
  color: rgb(96, 236, 120);
}

.links {
  text-decoration: none;
  color: white;
  padding: 10px 25px;
  border-radius: 25px;
  transition: all 0.2s;
  font-weight: 600;
}

.links:hover {
  background-color: white;
  color: #00a6ff;
}

/* fundi navbarit */
/* -------------------------------------------- */

/* search holiday section */

main {
  width: 100%;
  max-width: 1000px;
  justify-content: start;
  /* border: 1px solid red; */
}

.search__holiday {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  height: 500px;
  /* border: 1px solid red; */
}

.search__holiday > h1 {
  font-size: 90px;
}

.search__holiday > h2 {
  font-size: 30px;
}

.search__holiday--inputs {
  width: 50%;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.search,
.date {
  background-color: rgba(0, 109, 126, 0.5);
  /* background-color: #47b7cb; */
  border-radius: 3px;
  border: none;
  padding: 15px;
  color: white;
}

.search > input::placeholder {
  color: white;
}

.search > input:focus {
  outline: none;
}

.date {
  display: flex;
}

input[type="text"]::-webkit-inner-spin-button,
input[type="text"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.date > input::placeholder {
  display: none;
}

.search__holiday--inputs > div > input {
  background-color: transparent;
  border-radius: 3px;
  border: none;
  padding: 15px;
  color: white;
}

.search__holiday--inputs > input::placeholder {
  color: white;
}

.only__for--btnColor {
  background: white;
  border-radius: 3px;
  text-align: center;
}

.search__holiday--button {
  border: none;
  padding: 15px;
  font-weight: 700;
  background: linear-gradient(to right, #00ff88, #00a6ff, #00a6ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.bora__bora {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  font-size: 35px;
  width: 100%;
  /* border: 1px solid red; */
  gap: 10px;
}

.search__borabora {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

.bora__bora > hr {
  height: 1.5px;
  border: none;
  background-color: white;
}
/* end of search holiday section */

/* ------------------------------------------- */

/* travel planning section */
.travel__planning {
  position: absolute;
  width: 100%;
  max-width: 1200px;
  margin-left: -100px;
  /* border: 1px solid red; */
  background: white;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.travel__planning > * {
  /* border: 1px solid red; */
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
}

.travel__planning--labels {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}

.travel__planning--labels > * {
  cursor: pointer;
  padding: 10px 25px;
  border: 1px solid grey;
  background: white;
  width: 150px;
}

.travel__planning--labels > *:hover {
  color: #00a6ff;
  border: 1px solid #00a6ff;
}

.travel__planning--informations {
  display: flex;
  justify-content: space-between;
}

.where__to {
  position: relative;
  display: inline-block;
}

.where__to > input {
  width: 225px;
}

.where__to i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translate(-50%);
}

.where__to > input::placeholder {
  padding-left: 30px;
}

.travel__planning--informations > input,
label {
  display: block;
}

.travel__planning--informations > button {
  border: none;
  padding: 10px 35px;
  color: white;
  cursor: pointer;
  border-radius: 3px;
  background: linear-gradient(to right, #20bf55, #01baef);
}

.travel__planning--icons {
  margin: 50px 0;
  color: #00a6ff;
  display: flex;
  align-items: center;
  gap: 25px;
}

.dots__icon {
  display: flex;
  gap: 15px;
  font-size: 8px;
}

.informations__input {
  padding: 5px 0 5px 10px;
}

.dicover__destinations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.dicover__destinations > a {
  text-decoration: none;
  color: #00a6ff;
}

.travel__planning--links {
  display: flex;
  justify-content: space-evenly;
  transition: all 1.5s;
}

.travel__planning--links > * {
  text-decoration: none;
  color: black;
}

.travel__planning--links > *:hover {
  border-bottom: 1.4px solid black;
}

.travel__planning--images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
}

.travel__planning--images > * {
  height: 300px;
  display: block;
}

.newYork {
  width: 59%;
}
.sydney {
  width: 39%;
}
.paris {
  width: 39%;
}
.tokyo {
  width: 59%;
}
.oslo {
  width: 99%;
}

.image__container {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 59%;
  height: 300px;
  color: white;
  background: rgba(
    0,
    0,
    0,
    0.5
  ); /* Adjust the overlay color and transparency */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  gap: 10px;
}

.image__container:hover .overlay {
  opacity: 1;
}

.overlay__newYork > hr {
  height: 1px;
  background: white;
  width: 20%;
}
.city__search {
  display: flex;
  justify-content: space-between;
  width: 60%;
  /* border: 1px solid red; */
  margin-top: 40px;
}

.city__search > div {
  display: flex;
  align-items: center;
}

.see__deals {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  gap: 15px;
}

.overlay__sydney {
  width: 39%;
}
.overlay__paris {
  width: 39%;
}
.overlay__tokyo {
  width: 59%;
}
.overlay__oslo {
  width: 99%;
}
/*end of travel planning section */
/* ---------------------------------------- */
